In [14]:
import matplotlib.pyplot as plt
import tabulate

import numpy as np

import random

import pandas as pd

import pandas as pd
import wandb
api = wandb.Api()

USERS = ["David", "Jeff", "Kay", "Sara", "Tana"]
METRICS = ["BLEU", "Rouge", "Mauve"]
METRIC_NAMES = {
    "BLEU": "BLEU",
    "Rouge": "rougeLsum_fmeasure",
    "Mauve": "MAUVE"

}
MODEL_TYPES = ["FFT", "RoSA", "LoRA"]

COLUMNS = ["model", "user", "model_type", "metric", "RAFT", "RAG", "score", "seed", "metadata"]

In [32]:
def extract_config_from_run_name(run_name):
    user = [u for u in USERS if u.lower() in run_name][0]
    model_type = [m for m in MODEL_TYPES if m.lower() in run_name][0]
    if model_type == "RoSA" and "lr0.0-epochs" in run_name:
        model_type = "LoRA"
    raft = "RAFT" in run_name
    seed = int(run_name.split("seed")[-1].split("-")[0])
    return user, model_type, raft, seed


def load_wandb_project_runs(project_name):
    results_df = pd.DataFrame(columns=COLUMNS)
    runs = api.runs(project_name)
    for run in runs:
        if run.summary["_timestamp"] < 1717813799.4198122:
            continue  # Skip older runs
        user, model_type, raft, seed = extract_config_from_run_name(run.name)
        summary = run.summary._json_dict
        for rag in [False, True]:
            for metric in METRICS:
                score = summary[f"EVAL/{METRIC_NAMES[metric]}{'-RAG' if rag else ''}-mean"]
                results_df = results_df._append({
                    "model": "Phi3",
                    "user": user,
                    "model_type": model_type,
                    "metric": metric,
                    "RAFT": raft,
                    "RAG": rag,
                    "score": score,
                    "seed": seed,
                    "metadata": None
                }, ignore_index=True)

    print(len(results_df))
    return results_df

all_projects = [
    ("david", "diverse-vit/panza-david_anonymous-Phi3-June8"),
    ("jeff", "diverse-vit/panza-jeff_johnson-Phi3-June8"),
    ("kay", "diverse-vit/panza-kay_brown-Phi3-June8"),
    ("sara", "diverse-vit/panza-shackleton_sara-Phi3-June8"),
    ("tana", "diverse-vit/panza-tana_williams-Phi3-June8"),
]

results_df = pd.DataFrame(columns=COLUMNS)
for _, project_name in all_projects:
    results_df = pd.concat([results_df, load_wandb_project_runs(project_name)])

# results_df = load_wandb_project_runs("diverse-vit/panza-jeff_johnson-Phi3-June8")

results_df = results_df.groupby(['model', 'user', 'model_type', 'metric', 'RAFT', 'RAG']).agg({'score': ['mean', 'std']}).reset_index()
results_df.columns = ['model', 'user', 'model_type', 'metric', 'RAFT', 'RAG', 'score', 'score_std']
print(results_df)

/tmp/ipykernel_3063534/2158970315.py:22: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  results_df = results_df._append({
/tmp/ipykernel_3063534/2158970315.py:47: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  results_df = pd.concat([results_df, load_wandb_project_runs(project_name)])
/tmp/ipykernel_3063534/2158970315.py:22: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  results_df = results_df._append({
/tmp/ipykernel_3063534/2158970315.py:22: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  results_df = results_df._append({
/tmp/ipykernel_3063534/2158970315.py:22: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  results_df = results_df._append({

108
108
108
108
108
    model   user model_type metric   RAFT    RAG     score  score_std
0    Phi3  David        FFT   BLEU  False  False  0.329567   0.018969
1    Phi3  David        FFT   BLEU  False   True  0.309882   0.008343
2    Phi3  David        FFT   BLEU   True  False  0.330211   0.014018
3    Phi3  David        FFT   BLEU   True   True  0.327001   0.023329
4    Phi3  David        FFT  Mauve  False  False  0.999684   0.000471
..    ...    ...        ...    ...    ...    ...       ...        ...
175  Phi3   Tana       RoSA  Mauve   True   True  0.945010   0.016103
176  Phi3   Tana       RoSA  Rouge  False  False  0.336564   0.007991
177  Phi3   Tana       RoSA  Rouge  False   True  0.339023   0.005040
178  Phi3   Tana       RoSA  Rouge   True  False  0.331023   0.006132
179  Phi3   Tana       RoSA  Rouge   True   True  0.354281   0.007302

[180 rows x 8 columns]

/tmp/ipykernel_3063534/2158970315.py:22: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  results_df = results_df._append({

In [33]:
def get_mock_results():
    df = pd.DataFrame(columns=COLUMNS)

    for user in USERS:
        for model_type in MODEL_TYPES:
            for metric in METRICS:
                for rag in [False, True]:
                    for raft in [False, True]:
                        df = df._append(
                            {
                                "model": "model",
                                "user": user,
                                "model_type": model_type,
                                "metric": metric,
                                "RAFT": raft,
                                "RAG": rag,
                                "score": random.random(),
                                "metadata": None,
                            },
                            ignore_index=True,
                        )

    return df


def create_all_results_table(results_df):
    table = []
    for model_type in MODEL_TYPES:
        for raft in [False, True]:
            for rag in [False, True]:
                # Create line for given model type and raft
                filtered_df = results_df[
                    (results_df["model_type"] == model_type)
                    & (results_df["RAFT"] == raft)
                    & (results_df["RAG"] == rag)
                ]
                raft_str = "-RAFT" if raft else ""
                rag_str = "-RAG" if rag else ""
                model_str = f"{model_type}{raft_str}{rag_str}"
                line = [model_str]
                for user in USERS:
                    for metric in METRICS:
                        try:
                            score = filtered_df[
                                (filtered_df["user"] == user) & (filtered_df["metric"] == metric)
                            ]["score"].values[0]
                        except Exception as e:
                            print(e)
                            score = "-"
                        line.append(score)
                table.append(line)
    return table

mock_df = get_mock_results()
table = create_all_results_table(results_df)
for line in table:
    print(line)

/tmp/ipykernel_3063534/3787299154.py:9: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = df._append(

['FFT', 0.32956710199515027, 0.488078807592392, 0.9996842647524252, 0.16916790710098395, 0.28105342263615757, 0.8597102933295929, 0.19915374772734107, 0.2985645563867702, 0.8656762003858293, 0.27011771550169217, 0.3791506297708977, 0.8838354668654723, 0.264710224947651, 0.36415353960668045, 0.8686559280988825]
['FFT-RAG', 0.3098816779255867, 0.4741027146577835, 0.9936033432268913, 0.1788094564348172, 0.27978655180439005, 0.7262057197565728, 0.19587726811059167, 0.2833636980590031, 0.8583141116843129, 0.23062316548307318, 0.3218195655338821, 0.9593771411943007, 0.2539928340392413, 0.35317645590042784, 0.9111948342846895]
['FFT-RAFT', 0.33021117707093556, 0.5081067683299382, 0.9922753770520328, 0.16557368286140803, 0.27639164469500843, 0.9149353630038947, 0.19358916039345786, 0.2889097487571201, 0.9233778943827771, 0.2608540862593578, 0.3657797660678625, 0.8805893938791374, 0.26241157709268054, 0.3714597349587296, 0.8772436896304493]
['FFT-RAFT-RAG', 0.32700149118900296, 0.49509853581587476, 0.9977767901613479, 0.1809126648356684, 0.2885915732170029, 0.824277523400541, 0.20061494669708835, 0.29414399000988517, 0.8619842456235594, 0.2633282527089163, 0.3653133898441281, 0.865343259769733, 0.2760630353335121, 0.38011441073779545, 0.8866090607656276]
['RoSA', 0.30838220059871674, 0.4731227693955103, 0.9961092191439063, 0.16621223179985317, 0.2557500603702641, 0.8502482462662705, 0.19306753541632346, 0.2808708447480091, 0.9558426087812822, 0.24087923808408615, 0.34982014179584525, 0.8656107393532072, 0.24471071973381356, 0.3365639088497985, 0.8658058639373741]
['RoSA-RAG', 0.30157888785004616, 0.45466034253438314, 0.9997617943355209, 0.1709374416797321, 0.2668187998762253, 0.7264928040611781, 0.17075821053866228, 0.2558772226071192, 0.8138086133839807, 0.1947165295359723, 0.28887049891054634, 0.9823369833747044, 0.251018474466816, 0.33902253462223425, 0.94821234627448]
['RoSA-RAFT', 0.3147913615405559, 0.47286329527695975, 0.9999680212620529, 0.15684576546282045, 0.25718825951565144, 0.8745665026977631, 0.18005623520326078, 0.27839564504446807, 0.9160131080222752, 0.2336520596554259, 0.34279609256024873, 0.9392598916984701, 0.2454000603699699, 0.3310227659420066, 0.9579213480329288]
['RoSA-RAFT-RAG', 0.31867947538693747, 0.47174199362595876, 0.9955447163546648, 0.17311368098763316, 0.2739124415052491, 0.869189013930214, 0.18815470133321707, 0.27813598620532837, 0.8962341667814319, 0.23838034545270992, 0.34539381932644614, 0.8122569418094682, 0.26506720048555943, 0.35428057067717117, 0.94500990084889]
['LoRA', 0.276651912285015, 0.43900981992483135, 0.9999299976882384, 0.16381271071736944, 0.2891918828263301, 0.7889087516398695, 0.19996189544434417, 0.3015054768744718, 0.7201176302481519, 0.26130086260395946, 0.38427206132383573, 0.7544680712370315, 0.25303176235437214, 0.3585648476257033, 0.819575761140077]
['LoRA-RAG', 0.29495349938670795, 0.4614378716548284, 0.9985279250354006, 0.17274361259174034, 0.2826342587250956, 0.7696565265097544, 0.15555052175747094, 0.24557345063874014, 0.5774828047736825, 0.23508256643655753, 0.352650132526954, 0.909451639914951, 0.24970965817573457, 0.34684221255814746, 0.8342565121706967]
['LoRA-RAFT', 0.2879473644743363, 0.44338448325792945, 0.9995341724727167, 0.1602493299663771, 0.2859287094974587, 0.8457596393586334, 0.20984813380716702, 0.31947406941024514, 0.8524662325607902, 0.2762051535870082, 0.39796975173410915, 0.7667468311623239, 0.2611130134287773, 0.3663266558377516, 0.8021774518248911]
['LoRA-RAFT-RAG', 0.3133825792123874, 0.47238875250021617, 0.9988882099192432, 0.1764631067485883, 0.299582208701691, 0.6495332215273922, 0.20897102834984524, 0.3114315545427854, 0.9189842524567665, 0.2691297004864152, 0.3890714052355006, 0.9229819537257647, 0.27375517133216254, 0.375654691930062, 0.756588035797613]

In [34]:
from pylatex import Document, Section, Tabular, MultiColumn, MultiRow, Command, NoEscape

def format_as_math(number):
    """Return number formatted as LaTeX math."""
    return NoEscape(f"${number}$")

def get_colored_column():
    """Return a colored column formatter."""
    return NoEscape(">{\columncolor{gray!10}}")

def create_document(results_table):
    doc = Document("results")

    columns_format = ""
    columns_format += "l"
    for i, user in enumerate(USERS):
        for metric in METRICS:
            if i % 2 == 0:
                columns_format += get_colored_column()
            columns_format += "c"
    # with doc.create(Tabular("c" * (1 + len(USERS) * len(METRICS)))) as table:
    with doc.create(Tabular(columns_format)) as table:
        table.add_hline()

        # Add user columns
        user_columns = []
        user_columns.append(" ")
        for i, user in enumerate(USERS):
            if False: #i % 2 == 0:
                user_columns.append(MultiColumn(3, align='c', data=Command('cellcolor', arguments=['gray!10'], extra_arguments=Command('texttt', user))))
            else:
                user_columns.append(MultiColumn(3, align='c', data=Command('texttt', user)))
        table.add_row(user_columns)
        table.add_hline()

        # Add metric columns
        metrics_columns = []
        metrics_columns.append("Method")
        for user in USERS:
            for metric in METRICS:
                metrics_columns.append(metric)
        table.add_row(metrics_columns)

        for i, line in enumerate(results_table, 1):
            clean_line = []
            for element in line:
                if isinstance(element, str):
                    element = Command('texttt', element)
                    clean_line.append(element)
                else:
                    element = float(element)
                    element = round(element, 3)
                    element = format_as_math(element)
                    clean_line.append(element)
            table.add_row(clean_line)

            # Add horizontal line after each model type
            if i % 4 == 0:
                table.add_hline()

        table.add_hline()

    return doc

doc = create_document(table)
print(doc.dumps())

\documentclass{article}%
\usepackage[T1]{fontenc}%
\usepackage[utf8]{inputenc}%
\usepackage{lmodern}%
\usepackage{textcomp}%
\usepackage{lastpage}%
%
%
%
\begin{document}%
\normalsize%
\begin{tabular}{l>{\columncolor{gray!10}}c>{\columncolor{gray!10}}c>{\columncolor{gray!10}}cccc>{\columncolor{gray!10}}c>{\columncolor{gray!10}}c>{\columncolor{gray!10}}cccc>{\columncolor{gray!10}}c>{\columncolor{gray!10}}c>{\columncolor{gray!10}}c}%
\hline%
 &\multicolumn{3}{c}{\texttt{David}}&\multicolumn{3}{c}{\texttt{Jeff}}&\multicolumn{3}{c}{\texttt{Kay}}&\multicolumn{3}{c}{\texttt{Sara}}&\multicolumn{3}{c}{\texttt{Tana}}\\%
\hline%
Method&BLEU&Rouge&Mauve&BLEU&Rouge&Mauve&BLEU&Rouge&Mauve&BLEU&Rouge&Mauve&BLEU&Rouge&Mauve\\%
\texttt{FFT}&$0.33$&$0.488$&$1.0$&$0.169$&$0.281$&$0.86$&$0.199$&$0.299$&$0.866$&$0.27$&$0.379$&$0.884$&$0.265$&$0.364$&$0.869$\\%
\texttt{FFT{-}RAG}&$0.31$&$0.474$&$0.994$&$0.179$&$0.28$&$0.726$&$0.196$&$0.283$&$0.858$&$0.231$&$0.322$&$0.959$&$0.254$&$0.353$&$0.911$\\%
\texttt{FFT{-}RAFT}&$0.33$&$0.508$&$0.992$&$0.166$&$0.276$&$0.915$&$0.194$&$0.289$&$0.923$&$0.261$&$0.366$&$0.881$&$0.262$&$0.371$&$0.877$\\%
\texttt{FFT{-}RAFT{-}RAG}&$0.327$&$0.495$&$0.998$&$0.181$&$0.289$&$0.824$&$0.201$&$0.294$&$0.862$&$0.263$&$0.365$&$0.865$&$0.276$&$0.38$&$0.887$\\%
\hline%
\texttt{RoSA}&$0.308$&$0.473$&$0.996$&$0.166$&$0.256$&$0.85$&$0.193$&$0.281$&$0.956$&$0.241$&$0.35$&$0.866$&$0.245$&$0.337$&$0.866$\\%
\texttt{RoSA{-}RAG}&$0.302$&$0.455$&$1.0$&$0.171$&$0.267$&$0.726$&$0.171$&$0.256$&$0.814$&$0.195$&$0.289$&$0.982$&$0.251$&$0.339$&$0.948$\\%
\texttt{RoSA{-}RAFT}&$0.315$&$0.473$&$1.0$&$0.157$&$0.257$&$0.875$&$0.18$&$0.278$&$0.916$&$0.234$&$0.343$&$0.939$&$0.245$&$0.331$&$0.958$\\%
\texttt{RoSA{-}RAFT{-}RAG}&$0.319$&$0.472$&$0.996$&$0.173$&$0.274$&$0.869$&$0.188$&$0.278$&$0.896$&$0.238$&$0.345$&$0.812$&$0.265$&$0.354$&$0.945$\\%
\hline%
\texttt{LoRA}&$0.277$&$0.439$&$1.0$&$0.164$&$0.289$&$0.789$&$0.2$&$0.302$&$0.72$&$0.261$&$0.384$&$0.754$&$0.253$&$0.359$&$0.82$\\%
\texttt{LoRA{-}RAG}&$0.295$&$0.461$&$0.999$&$0.173$&$0.283$&$0.77$&$0.156$&$0.246$&$0.577$&$0.235$&$0.353$&$0.909$&$0.25$&$0.347$&$0.834$\\%
\texttt{LoRA{-}RAFT}&$0.288$&$0.443$&$1.0$&$0.16$&$0.286$&$0.846$&$0.21$&$0.319$&$0.852$&$0.276$&$0.398$&$0.767$&$0.261$&$0.366$&$0.802$\\%
\texttt{LoRA{-}RAFT{-}RAG}&$0.313$&$0.472$&$0.999$&$0.176$&$0.3$&$0.65$&$0.209$&$0.311$&$0.919$&$0.269$&$0.389$&$0.923$&$0.274$&$0.376$&$0.757$\\%
\hline%
\hline%
\end{tabular}%
\end{document}